<header class=“header”>
    <div class=“header__top”>
        <a class=“header__logo” href=“#”>
            <img src=“images/logo.png” alt=“Open Charity”>
        </a>
        <nav class=“header__nav”>
            <ul>
                <li class=“nav”>
                    <a href=“#” class=“nav__link”>About Open Charity</a>
                </li>
                <li class=“nav”>
                    <a href=“#” class=“nav__link”>The Blog</a>
                </li>
                <li class=“nav”>
                    <a href=“#” class=“nav__link  nav__link--btn”>Join us</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class=“header__banner”>
        <h1 class=“header__title”>Sharing Ideas For Charities</h1>
        <h3 class=“header__subtitle”>Many charities goals are similar, as is the functionality we require, but little shared working takes place.</h3>
        <p class=“header__paragraph”>By working together, driving shared areas of interest and influencing open source developments we can bring efficiencies, improve the digital experience for our users, and have great impact.</p>
        <h4 class=“header__subtitle header__subtitle--spacing”>
            Together we can make a bigger diference.
        </h4>
    </div>
</header>