* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#head {
    background-color: rgb(195, 113, 12);
}
#head img{
    width: 100px;
    height: 100px;
}
#head-link {
    clear: left;
    height: 30px;
}
#head-link ul {
    width: 600px;
    list-style-type: none;
    margin: auto;
}
#head-link li {
    display: inline-block;
    margin-left: 10px;
}
#left {
    width: 30%;
    overflow: scroll;
}
#left img {
    width: 90%;
}
.div1 {
    margin: 5%;
    background-color: blanchedalmond;
}
#content {
    background-color: beige;
    width: 70%;
}
#content, #left {
    float: left;
}
#footer {
    clear: left;
}