* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, sans-serif;;
}

a {
    text-decoration: none;
}

header{
    background-color: #23085a;
    height: 150px;
}

.header1 {
    padding: 0 250px;
}

/* banner */
.header__banner-1 {
    text-align: right;
}

.header__banner-link {
    background-color: aliceblue;
    padding: 10px;
    display: inline-block;
}

/* logo + slogan */





.header__nav-slogan {
    color: aqua;
    font-size: 20px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.header__nav2-li2 {
    margin: 0 15px;
}
.header__nav2-link {
    color: aliceblue;
    text-decoration: none;
}

/* navbar */

.navbar__nav{
    padding: 0px;
    margin: 0px;
}
.navbar__nav1 {
    text-align: left;
    padding: 0px;
}
.navbar-link {
    display: inline-block;
    background-color: aliceblue;
    padding: 10px;
}


/* section1 */

.section__inf1-text {
    justify-content: center;
    width: 80%;
    height: 80%;
}