.container-border {
border: 1px solid black;
}
.feature-number {
    height: 50px;
    border-radius: 5px;
    box-shadow: brown inset;
    border: 1px solid blue;
}
.author-info {
    height: 500px;
    width: 300px;
}