* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.logo { 
    float: left;
    height: 40px;
    position: relative;
}
.toolbar { 
    float: left;
    margin-left: 250px;
}
.personal-infomation{ 
    float: left;
    margin-left: 200px;
}
.imglogo {
    height: 40px;
    margin: 20px;
}   
.tootbar td th {
    height: 20px;
}
.left {
    background-color: beige;
    clear: both;
}
.search {
    position: absolute;
    top:30px
}